body {
    background-color: #0c739f;
    background-image: url('../img/bg_1.jpg');
    background-repeat: repeat-x;
}

.wrapper {
    width: auto;
    margin: auto 100px;
    font-family: Arial, sans-serif;
}

.main {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    -moz-box-shadow: 0 0 27px 0 rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 0 27px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, .75);
}

.shadow {
    box-shadow: 0 9px 0 -5px #000;
}

header {
    position: relative;
    width: 100%;
    height: 174px;
}

header a {
    color: #5fa5bb;
}

.logo {
    position: relative;
    float: left;
}

.image {
    padding-top: 6px;
    padding-left: 28px;
}

.logo-link {
    position: absolute;
    top: 70%;
    bottom: 54px;
    left: 72px;
}

.contacts {
    position: relative;
    padding-top: 10px;
    padding-right: 32px;
    float: right;
}

.contacts span {
    display: block;
    color: #5fa5bb;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}

.contacts1 {
    text-shadow: 1px 1px 1px #128aa7;
}

.countries li {
    padding: 8px;
    float: left;
}

.countries ul {
    position: absolute;
    top: 62%;
    right: 32px;
    font-size: 10px;
}

.countries p {
    text-align: center;
}

.countries li:nth-child(5),
.countries li:last-child {
    padding-right: 0;
}

.container1 {
    width: 100%;
    overflow: hidden;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.image1 {
    display: block;
    width: 100%;
}

.navigation {
    border-top: 2px #edeef0 solid;
    background: #343434;
}

.menu {
    display: block;
    margin: 0 auto;
    padding: 0;
    border-bottom: 3px #000 solid;
    text-align: center;
}

ul::after {
    display: block;
    float: none;
    clear: both;
    content: '';
}

.menu > li {
    position: relative;
    float: left;
}

.submenu > li > a:hover {
    background-color: #ff2115;
}

.menu > li > a {
    display: block;
    width: 130px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.menu li a:first-child {
    padding-left: 21px;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    width: 150px;
    background-color: #343434;
    -moz-box-shadow: -1px 9px 16px -2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 9px 16px -2px rgba(0, 0, 0, 1);
    box-shadow: -1px 9px 16px -2px rgba(0, 0, 0, 1);
}

.submenu > li {
    display: block;
}

.submenu > li:first-child {
    border-top: 3px #000 solid;
}

.submenu > li > a {
    display: block;
    padding: 10px;
    background-color: #303030;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.menu > li:hover > .submenu {
    display: block;
}

.menu .active > a::after {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: 7px;
    border-width: 6px 6px 0;
    border-style: solid;
    border-color: #edeef0 transparent;
    content: '';
}

.container2 {
    width: 100%;
    float: left;
    background-image: url('../img/bg-content.png');
    background-repeat: repeat-y;
    background-size: 100%;
    box-shadow: 0 3px 3px #575555 inset;
}

/*!*box-shadow: 0 20px 0 -10px #000;*! Не получилось задать нижнюю тень*/

aside {
    width: 21%;
    float: left;
}

.content {
    width: 58%;
    float: left;
}

article {
    width: 21%;
    float: right;
}

.content h2,
article h2,
aside h2 {
    padding-top: 15px;
    color: #424c43;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.content p,
article p,
aside p {
    padding: 15px 26px 15px 20px;
    color: #424c43;
    line-height: 25px;
}

.footer {
    margin: 10px;
    text-align: center;
}

.footer a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}


